In [18]:
import numpy as np
import pandas as pd
# импортируем библиотеку datetime для работы с датами
import datetime
from datetime import datetime, date
import json
# Задаем некоторые опции библиотеки pandas, которые 
# настраивают вывод
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)
# импортируем библиотеку matplotlib для построения графиков
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [50]:
df = pd.read_json(r"data/log_data/2018/11/2018-11-01-events.json", lines=True)
song = pd.read_json(r"./data/song_data/A/A/A/TRAAAAW128F429D538.json", lines=True)
df = df[df["page"]=='NextSong'].reset_index()
df

    index             artist       auth firstName  ... status             ts  \
0       2            Des'ree  Logged In    Kaylee  ...    200  1541106106796
1       4            Mr Oizo  Logged In    Kaylee  ...    200  1541106352796
2       5         Tamba Trio  Logged In    Kaylee  ...    200  1541106496796
3       6     The Mars Volta  Logged In    Kaylee  ...    200  1541106673796
4       7  Infected Mushroom  Logged In    Kaylee  ...    200  1541107053796
..    ...                ...        ...       ...  ...    ...            ...
6       9          Girl Talk  Logged In    Kaylee  ...    200  1541107734796
7      10    Black Eyed Peas  Logged In    Sylvie  ...    200  1541108520796
8      12       Fall Out Boy  Logged In      Ryan  ...    200  1541109125796
9      13             M.I.A.  Logged In      Ryan  ...    200  1541109325796
10     14           Survivor  Logged In    Jayden  ...    200  1541110994796

                                            userAgent  userId
0   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...       8
1   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...       8
2   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...       8
3   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...       8
4   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...       8
..                                                ...     ...
6   "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...       8
7   "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...      10
8   "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...      26
9   "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...      26
10  "Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...     101

[11 rows x 19 columns]

In [54]:
import datetime
t = pd.to_datetime(df.ts, unit='ms')
t.head()

0   2018-11-01 21:01:46.796
1   2018-11-01 21:05:52.796
2   2018-11-01 21:08:16.796
3   2018-11-01 21:11:13.796
4   2018-11-01 21:17:33.796
Name: ts, dtype: datetime64[ns]

In [53]:
df['week'] = t.apply(lambda x: datetime.date(x.year, x.month, x.day).isocalendar()[1])
df['week_day'] = t.apply(lambda x: datetime.date(x.year, x.month, x.day).strftime("%A"))
df.head()

   index             artist       auth firstName  ...  \
0      2            Des'ree  Logged In    Kaylee  ...
1      4            Mr Oizo  Logged In    Kaylee  ...
2      5         Tamba Trio  Logged In    Kaylee  ...
3      6     The Mars Volta  Logged In    Kaylee  ...
4      7  Infected Mushroom  Logged In    Kaylee  ...

                                           userAgent  userId week  week_day
0  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...       8   44  Thursday
1  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...       8   44  Thursday
2  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...       8   44  Thursday
3  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...       8   44  Thursday
4  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...       8   44  Thursday

[5 rows x 21 columns]

In [55]:
time_data = (t, t.dt.hour, t.dt.day, df.week, t.dt.month, t.dt.year, df.week_day)
column_labels = ['start_time','hour','day','week','month', 'year','weekday']
time_df = pd.DataFrame(dict(zip(column_labels, time_data)))
time_df.head()
df['start_time'] = t
df.head()

   index             artist       auth firstName  ... userId  week  week_day  \
0      2            Des'ree  Logged In    Kaylee  ...      8    44  Thursday
1      4            Mr Oizo  Logged In    Kaylee  ...      8    44  Thursday
2      5         Tamba Trio  Logged In    Kaylee  ...      8    44  Thursday
3      6     The Mars Volta  Logged In    Kaylee  ...      8    44  Thursday
4      7  Infected Mushroom  Logged In    Kaylee  ...      8    44  Thursday

               start_time
0 2018-11-01 21:01:46.796
1 2018-11-01 21:05:52.796
2 2018-11-01 21:08:16.796
3 2018-11-01 21:11:13.796
4 2018-11-01 21:17:33.796

[5 rows x 22 columns]

In [61]:
user_df = df[['userId','firstName', 'lastName', 'gender', 'level']]
# user_df

with open("./data/song_data/A/A/A/TRAAAAW128F429D538.json") as f:
    data = json.load(f)
df[['d']]

    userId
0        8
1        8
2        8
3        8
4        8
..     ...
6        8
7       10
8       26
9       26
10     101

[11 rows x 1 columns]